@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes ping2 {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100%) scale(1.5);
  }
}

html {
  scroll-behavior: smooth;
}

body:has(form) #footer-extension {
  display: none;
}

body:has(form) main > ul {
  @apply pb-[160px];
}
